@use 'src/styles/res' as res;

.grid-image {
  @include res.transition([border-color]);
  $_parent: &;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 16.25rem;
  border: 4px solid transparent;
  background-color: transparent;
  overflow: hidden;

  &.is-selected {
    border-color: res.color('accent');
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
