@use 'src/styles/res' as res;

.button {
  @include res.transition([opacity transform]);

  display: flex;
  justify-content: center;
  background-color: res.color('accent');
  border: 0;
  border-radius: res.radius('primary');
  padding: res.spacing('s') res.spacing('m');
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: scale(0.95);
  }

  &__label {
    color: #fff;
    font-weight: 700;
    font-size: 0.75rem;
  }
}
