@use 'src/styles/res' as res;

.main-layout {
  display: flex;
  flex-direction: column;

  &__header {
    @include res.transition([color background-color], res.duration('smooth'));

    align-items: center;
    justify-content: space-between;
    background-color: res.color('background');
    box-shadow: res.shadow('primary');
    display: flex;
    padding: res.spacing('s') res.spacing('l');
  }

  &__header-container {
    align-items: center;
    display: flex;
    gap: res.spacing('xs');
  }

  &__body {
    padding: res.spacing('l');
  }
}
