@use 'src/styles/res' as res;

.error-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: res.spacing('xl');
  align-items: center;
  justify-content: center;
  height: 100%;

  &__error-image {
    max-width: 15rem;
  }

  &__error-message {
    max-width: 15rem;
    font-weight: 700;
    font-size: res.font-size('l');
  }
}
