@use 'src/styles/res' as res;

.dropdown-menu-item {
  display: flex;
  list-style: none;
  padding: res.spacing('s') 0;

  &:not(:last-child) {
    border-bottom: 1px solid res.color('neutral');
  }

  &__label {
    font-size: res.font-size('s');
  }
}
