@use 'src/styles/res' as res;

.dropdown-menu {
  display: flex;
  position: relative;

  &__launcher {
    @include res.transition([opacity transform color background-color]);

    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: res.radius('primary');
    display: flex;
    justify-content: center;
    font-size: res.font-size('m');
    color: res.color('foreground');
    background-color: res.color('neutral');
    padding: res.spacing('s');

    &:hover {
      opacity: 0.8;
    }

    &:active {
      transform: scale(0.95);
    }

    &.is-open {
      color: res.color('background');
      background-color: res.color('foreground');
    }
  }

  &__menu {
    @include res.transition([opacity transform visibility]);

    background-color: res.color('background');
    box-shadow: res.shadow('primary');
    display: flex;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(0);
    visibility: hidden;
    width: 12rem;

    &.is-open {
      opacity: 1;
      transform: translateY(res.spacing('s'));
      visibility: visible;
    }
  }

  &__menu-item {
    list-style: none;
    padding: res.spacing('s');
  }
}
